.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1,.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active  {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.animal{
    background-color: #c2c2c2;
    border-radius: 1.5rem;
    margin : 3rem;
    width : 15rem;
}
.btn{
    background-color: rgb(56, 56, 184);
    color :white;
}
.nodeco {
text-decoration: none;
color : #ffffff;
}
#bg_green {
    background-color: rgb(45, 138, 50);
}